.sidebarContainer {
    height          : calc(100vh - 50px);
    flex            : 1;
    display         : flex;
    flex-direction  : column;
    padding-left    : 10px;
    background-color: rgb(250, 247, 247);

}

.category {
    display       : flex;
    flex-direction: column;
    margin-bottom : 15px;
}

.sectionTitle {
    font-weight  : 600;
    color        : rgb(175, 174, 174);
    margin-bottom: 6px;
}

.listWrapper {
    margin: 0px 10px;
}

.listItem {
    list-style : none;
    display    : flex;
    align-items: center;
    padding    : 4px 0;
    cursor     : pointer;
}

.listItem.active,
.listItem:hover {
    background-color: rgb(225, 234, 243);
    border-radius   : 8px;
}

.itemText {
    margin-left: 6px;
}